<form   (ngSubmit)="guardar()" #forma="ngForm">
    <fieldset>
        <legend>Tipos de Comida</legend>
        <div class="container">
            <div>
                <label for="ftop1">Tipo 1:</label>
            </div>
            <select  
            name="comidas" 
            id="ftop1" 
            class="col-1"
             
            (change)="tipo1Select($event.target)" 
            >
                <option 
                
                name="tipo1"
                *ngFor="let comida of comidas" 
                value={{comida.id}}
                >
                    {{comida.name}}
                </option>
            </select>
            <div>
                <label for="ftop2">Tipo 2:</label>
            </div>
            <select
             
            name="" 
            id="ftop2" 
            class="col-1" 
            (change)="tipo2Select($event.target)"
            >
                <option 
                *ngFor="let opcion1 of opciones1" 
                value={{opcion1.id}}
                >
                    {{opcion1.name}}
                </option>
            </select>
            <div>
                <label for="ftop3">Tipo 3:</label>
            </div>
            <select 
            name="" 
            id="ftop3" 
            class="col-1" 
            (change)="tipo3Select($event.target)"
            >
                <option 
                *ngFor="let opcion2 of opciones2" 
                value={{opcion2.id}}
                >
                    {{opcion2.name}}
                </option>
            </select>
        </div>
    </fieldset>
    <br>

    
    <div class="container">
        <button type="submit">Guardar</button>
        <button type="reset" (click)="Limpiar()">Limpiar</button>
    </div>

    <div class="container">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{ mensaje}}</textarea>
    </div>
</form>